<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>To use TapTheAt, hold the '@' key on the keyboard. TapTheAt will automatically fill in your email.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.phillipt.taptheat</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.phillipt.taptheat</string>
			<key>key</key>
			<string>email</string>
			<key>label</key>
			<string>Email</string>
			<key>placeholder</key>
			<string>email@example.com</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow the developer!</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View Source</string>
			<key>icon</key>
			<string>Github.png</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contribute via PayPal</string>
			<key>icon</key>
			<string>PayPal.png</string>
			<key>action</key>
			<string>openPayPal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Icon and idea by @JKTech_</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Special thanks to jaysan1292, for everything</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TapTheAt by Phillip Tennen</string>
		</dict>
	</array>
	<key>title</key>
	<string>TapTheAt</string>
</dict>
</plist>
